@charset "utf-8";
:root {
  --main-bg-color: #121212;
  --main-theme-color: #fed136;
  --header-bg-color: #020202;
  --border-color: #8e8e8e;
  --text-color: #c9d1d9;
}
html, body, ol, ul, dd, dl, input, button, select, textarea {
    margin: 0;
    padding: 0; 
}
body {
	visibility: hidden;
	font-family: Montserrat, "Helvetica Neue", Helvetica,Arial,sans-serif;
}

input, button, select, textarea { 
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    line-height: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.hide {
	display: none;
}

.box-layout {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.box-col {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 100%;
}
.center-v {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.center-h {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}
.mt-64 {
	margin-top: 64px!important;
}

.light-mode {
	visibility: visible!important;
	background-color: #efefef;
	color: #333;
}
.header {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	right: 0;
	height: 64px;
	padding: 0 24px;
	background-color: #121212;
}
.header .logo {
	position: relative;
	width: 36px;
	min-width: 36px;
	height: 36px;
	background-image: url("../img/mindhash-logo-animated.svg");
	background-size: 136px 36px;
	background-position: left top;
	display: block;
	cursor: pointer;
	-webkit-transition: -webkit-transform .2s ease;
	transition: transform .2s ease;
}
.header .logo:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1); /* Safari 和 Chrome */
}
.header .home-link {
	width: 100px;
	min-width: 100px;
	height: 36px;
	background: url("../img/mindhash-logo-animated.svg");
	background-size: 136px 36px;
	background-position: -36px top;
	display: block;
}
.header ul {
	float: right;
	width: 360px;
	text-align: center;
	margin-right: 24px;
}
.header ul li {
	color: #FFFFFF;
	font-size: 14px;
	float: left;
	width: 120px;
}
.header .avatar {
	width: 28px;
	height: 28px;
	background: url("../img/avatar.png") no-repeat;
	background-size: 100% 100%;
	display: block;
	-webkit-transition: -webkit-transform .2s ease;
	transition: transform .2s ease;
}
.header .avatar:hover {
	transform: scale(1.05);
	-webkit-transform: scale(1.05); /* Safari 和 Chrome */
}
.header .box-col .avatar {
	float: right;
}

.wrapper {
	padding: 32px 0;
	margin: 0 auto;
	width: 90%;
}

.wrapper .recordings-list li {
	font-size: 14px;
	height: 48px;
	line-height: 48px;
	text-align: center;
}
.wrapper .recordings-list li a {
	color: #333;
	height: 48px;
	text-decoration: none;
}
.wrapper .recordings-list li:nth-child(even) {
	background-color: #cfcfcf;
}
.wrapper .recordings-list li:nth-child(odd) {
	background-color: #c9c9c9;
}
.wrapper .recordings-list li:first-child {
	font-size: 20px;
	font-weight: 800;
	height: 64px;
	line-height: 64px;
}
.wrapper .recordings-list li:not(:first-child):not(:nth-child(2)):hover {
	background-color: #c3c3c3;
	cursor: pointer;
}
.wrapper .recordings-list li:first-child,
.wrapper .recordings-list li:nth-child(2) {
	background-color: var(--main-theme-color);
	font-weight: 600;
}

.header-log-in {
	margin: 32px 0 24px;
} 
.header-log-in .logo {
	height: 50px;
	width: 50px;
	margin: 0 auto;
	background: url("../img/mindhash-logo.png") no-repeat;
	background-size: 100% 100%;
	display: block;
	-webkit-transition: -webkit-transform .2s ease;
	transition: transform .2s ease;
	cursor: pointer;
}
.header-log-in .logo:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1); /* Safari 和 Chrome */
}
.form-wrapper {
	width: 360px;
	margin: 24px auto;
}
.form-wrapper h1, .reg-suc-tip {
	font-size: 20px;
	font-weight: 600;
	text-align: center;
}
.form-wrapper h1 a  {
	color: #333;
}
.reg-suc-tip span a {
	color: #fec92f;
}
.reg-suc-tip span {
	font-weight: 300;
}
.form-wrapper .err-msg {
	font-size: 13px;
	color: #333;
	padding: 8px;
	border-radius: 6px;
	background-color: rgba(254, 209, 54, 0.4);
	border: 1px solid rgba(254, 209, 54, 0.6);
}
.form-wrapper .form-body {
	padding: 32px 36px;
	background-color: #fff;
	border-radius: 6px;
	margin-top: 24px;
}

.form-wrapper .form-info {
	text-decoration: underline darkblue;
}

.form-wrapper .form-input-field {
	border: 0;
	outline: none;
	background-color: #efefef;
	height: 36px;
	width: 100%;
	padding: 12px;
	box-sizing: border-box;
	display: block;
	margin-bottom: 24px;
	border-radius: 4px;
	overflow: hidden;
}
.form-wrapper .form-input-field::placeholder {
	font-size: 13px;
}
.form-wrapper .form-input-field:focus {
	border: 1px solid var(--main-theme-color);
}
.form-wrapper .form-input-field:-webkit-autofill {
	box-shadow: inset 0 0 0 32px #efefef!important
}
.form-wrapper .form-submit-btn {
	height: 36px;
	line-height: 36px;
	text-align: center;
	color: #fff;
	background-color: var(--main-theme-color);
	width: 100%;
	border-radius: 4px;
	margin-top: 12px;
	font-size: 13px;
	cursor: pointer;
}
.form-wrapper .form-submit-btn:hover {
	background-color: #fec92f;
}
.form-wrapper .guide {
	font-size: 12px;
	/*color: #666;*/
	height: 24px;
	line-height: 24px;
}
.form-wrapper .guide.mt {
	margin-top: 32px;
}
.form-wrapper .guide a {
	color: var(--main-theme-color);
	text-decoration: none;
}
.form-wrapper .reset-password-tip {
	color: #666;
	margin-bottom: 24px;
}

/*recording page*/
.info-wrapper {
	width: 1080px;
	padding: 24px 0;
	margin: 0 auto;
	overflow: hidden;
}
.info-wrapper .section-container {
	padding: 15px;
	border-radius: 6px;
	background-color: #fff;
	float: left;
	margin-right: 20px;
	margin-top: 20px;
	box-sizing: border-box;
	overflow: hidden;
}
.info-wrapper .section-container .fl {
	float: left;
}
.info-wrapper .section-container.w100 {
	width: 100%;
}
.info-wrapper .section-container.mr0 {
	margin-right: 0;
}
.info-wrapper .section-container.general {
	width: 630px;
}
.info-wrapper .section-container .pie-chart {
	width: 360px!important;
	height: 240px!important;
}
.info-wrapper .section-container.general .general-info {
	line-height: 22px;
	font-size: 14px;
	width: 230px;
	height: 240px;
	overflow: auto;
	float: left;
	padding-left: 10px;
}
.info-wrapper .section-container.general .title {
	padding-bottom: 8px;
	font-size: 16px;
	font-weight: 500;
}
.info-wrapper .section-container.general .pie-chart {
	float: left;
}
.info-wrapper .section-container .bar-chart {
	width: 400px!important;
	height: 240px!important;
}
.info-wrapper .section-container .weatherChart {
	height: 240px!important;
}
.info-wrapper .section-container .map {
	width: 400px;
	height: 240px;
}
.info-wrapper .section-container .objectsLi {
	width: 240px;
	height: 220px;
	box-sizing: border-box;
	overflow: auto;
}
.info-wrapper .section-container .objectsLi li {
	font-size: 14px;
	height: 32px;
	line-height: 32px;
	padding: 0 15px;
	border-bottom: 1px solid #EFEFEF;
	cursor: pointer;
}
.info-wrapper .section-container .objectsLi li:hover {
	background-color: #efefef;
}
.info-wrapper .section-container .heatmap {
	position: relative; 
	width: 360px; 
	height: 220px;
}
.info-wrapper .section-container .timeSpeedChart {
	padding-left: 12px; 
	width: 450px!important;
	height: 256px!important;
	overflow: hidden;
	box-sizing: border-box;
}
.info-wrapper .section-container .timeSpeedChart canvas {
	width: 438px!important;
}

/*.info-wrapper .section-container.text-info {
	padding: 12px 18px;
}
.info-wrapper .section-container .general {
	width: 236px;
	height: 240px;
	line-height: 22px;
	font-size: 14px;
}

.info-wrapper .section-container .general .title {
	padding-bottom: 8px;
	border-bottom: 1px solid #e8e8e8;
	margin-bottom: 10px;
	font-weight: 500;
}*/

.section-container .select-items {
	height: 220px;
	overflow: auto;
	border-radius: 0;
}
.section-container #objects .select-items {
	height: auto;
	max-height: 240px;
}
.section-container #interval .date {
	width: 150px;
	height: 36px;
	background-color: #336699;
	color: #fff;
	padding: 8px 16px;
	box-sizing: border-box;
	border-right: 1px solid hsla(0, 0%, 100%, .1);
}
.section-container #interval .select-wrapper {
	width: 100%;
}
.section-container #interval .select-selected {
	width: 210px;
	border-radius: 0;
	box-sizing: border-box;
	border-right: 1px solid hsla(0, 0%, 100%, .1);
}
.section-container #objects .select-selected {
	border-radius: 0;
}

/*for dark mode*/
.dark-mode {
	background-color: var(--main-bg-color);
	color: var(--text-color);
	visibility: visible!important;
}
.dark-mode .header {
	background-color: var(--header-bg-color);
}
/*.dark-mode .header .logo {
	background-image: url(../img/mindhash-logo-animated-dark-mode.svg);
}*/

.dark-mode .wrapper .recordings-list li {
	color: var(--text-color);
	background-color: #181818;
	border-bottom: 1px solid hsla(0, 0%, 100%, .1);
}
.dark-mode .wrapper .recordings-list li a {
	color: var(--text-color);
}
.dark-mode .wrapper .recordings-list li:first-child,
.dark-mode .wrapper .recordings-list li:nth-child(2) {
	background-color: #161616;
}
.dark-mode .wrapper .recordings-list li:nth-child(1),
.dark-mode .wrapper .recordings-list li:last-child {
	border-bottom: none;
}
.dark-mode .wrapper .recordings-list li:not(:first-child):not(:nth-child(2)):hover {
	background-color: #282828;
}

.dark-mode .form-wrapper .err-msg {
	color: #eee;
	background-color: rgba(254, 209, 54, 0.3);
	border: 1px solid rgba(254, 209, 54, 0.5);
}
.dark-mode .form-wrapper .form-body {
	background-color: #181818;
}
.dark-mode .form-wrapper h1 a {
	color: var(--text-color);
}
.dark-mode .form-wrapper .form-input-field {
	background-color: #282828;
}
.dark-mode .form-wrapper .form-input-field::placeholder {
	color: #bbb;
}
.dark-mode .form-wrapper .form-input-field:-webkit-autofill {
	-webkit-text-fill-color: var(--text-color);
	box-shadow: inset 0 0 0 32px #282828!important
}
.dark-mode .form-wrapper .form-submit-btn {
	color: var(--text-color);
	background-color: #282828;
}
.dark-mode .form-wrapper .form-submit-btn:hover {
	background-color: #383838;
}
.dark-mode .form-wrapper .reset-password-tip {
	color: var(--text-color);
}

.dark-mode .info-wrapper .section-container {
	background-color: #181818;
}
.dark-mode .info-wrapper .section-container .objectsLi li {
	border-bottom: 1px solid hsla(0, 0%, 100%, .1);
}
.dark-mode .info-wrapper .section-container .objectsLi li:hover {
	background-color: #282828;
}
/*.dark-mode .info-wrapper .section-container .general .title {
	border-bottom: 1px solid hsla(0, 0%, 100%, .1);
}*/
.dark-mode .leaflet-bar a {
	background-color: #ddd;
}
.dark-mode .leaflet-bar a:hover {
	background-color: #efefef;
}

.dark-mode .select-selected, .dark-mode .select-items, .dark-mode .section-container #interval .date {
	background-color: #282828;
}

.profile-wrapper ul {
	width: 480px;
	margin: 88px auto 0;
	background-color: #fff;
	border-radius: 4px;
}
.profile-wrapper ul li {
	position: relative;
	padding: 0 12px;
	height: 48px;
	line-height: 48px;
	border-bottom: 1px solid #CFCFCF;
}
.profile-wrapper ul li:last-child {
	border-bottom: none;
}
.profile-wrapper ul li .func {
	position: absolute;
	right: 6px;
	top: 6px;
	bottom: 0;
	width: 72px;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	text-align: center;
	background-color: #C9C9C9;
	color: #666666;
	cursor: pointer;
	border-radius: 4px;
}
.profile-wrapper ul li .func:hover {
	background-color: #8E8E8E;
	color: #EFEFEF;
}
.profile-wrapper ul li a {
	color: var(--main-theme-color);
}

.dark-mode .profile-wrapper ul {
	background-color: #282828;
}
.dark-mode .profile-wrapper ul li {
	border-bottom: 1px solid hsla(0, 0%, 100%, .1);
}

@media only screen and (max-width: 768px) {
	.form-wrapper {
		width: 80%;
	}
	.wrapper .recordings-list .box-layout .box-col:nth-child(3),
	.wrapper .recordings-list .box-layout .box-col:nth-child(4) {
		display: none;
	}
}

/*@media (prefers-color-scheme: dark) {
	body.dark-mode {
		background-color: var(--main-bg-color);
		color: var(--text-color);
		visibility: visible;
	}
}*/